<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form Design</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link rel="stylesheet" href="../static/stylesheets/style.css">
    </head>

    <body>
        <form method="POST" class="login-form">
            <h1>Login</h1>

            <div class="textb">
                <input type="text" required name="id">
                <div class="placeholder">아이디</div>
            </div>

            <div class="textb">
                <input type="password" required name="password">
                <div class="placeholder">비밀번호</div>
            </div>
            
            <button class="btn fas fa-arrow-right"></button>
            <a href="register">Create Account</a>
            
        </form>
    </body>