<form method="POST">
    <span>{{{username}}}</span>
    <input type="hidden" name="name" value={{{username}}}>
    <input type="text" placeholder="title" name="title">
    <input type="textarea" placeholder="context" name="context">
    <input type="submit" value="write">
</form>