<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form Design</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link rel="stylesheet" href="../../static/stylesheets/style.css">
    </head>
    {{#if empty}}
        <script>alert('title or context is empty')</script>
    {{/if}}
    <body>
        <form method="POST" class="board-form">
            <h1>Write</h1>
            
            <h3>writer : {{{username}}}</h3>

            <input type="hidden" name="name" value={{{username}}}>

            <div class="textb">
                <input type="text" placeholder="title" name="title">
            </div>

            <div class="text_board">
                <input type="text" placeholder="context" name="context">
            </div>

            <input type="submit" class="btn-board" value='작성'></button>
            <input type="submit" class="btn-board" onclick='return submit2(this.form);' value='미리보기'></button>
        </form>
    </body>

<script> 
  function submit2(frm) { 
    frm.action='/board/preview'; 
    frm.submit(); 
    return true; 
  } 
</script> 
